<a href="https://colab.research.google.com/github/Prathiksha-13/my-contribution/blob/master/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
#Coding for importing csv files in Google colab
from google.colab import files
import io
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['loan.csv']))
# Read csv loan.csv into a pandas dataframe
# Take a look at the first few rows
print(df)
Saving loan.csv to loan.csv
      Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0    LP001015   Male     Yes  ...            360.0            1.0         Urban
1    LP001022   Male     Yes  ...            360.0            1.0         Urban
2    LP001031   Male     Yes  ...            360.0            1.0         Urban
3    LP001035   Male     Yes  ...            360.0            NaN         Urban
4    LP001051   Male      No  ...            360.0            1.0         Urban
..        ...    ...     ...  ...              ...            ...           ...
362  LP002971   Male     Yes  ...            360.0            1.0         Urban
363  LP002975   Male     Yes  ...            360.0            1.0         Urban
364  LP002980   Male      No  ...            360.0            NaN     Semiurban
365  LP002986   Male     Yes  ...            360.0            1.0         Rural
366  LP002989   Male      No  ...            180.0            1.0         Rural

[367 rows x 12 columns]
To view the first 10 rows

In [2]:
df.head(10)
Out[2]:
Loan_ID	Gender	Married	Dependents	Education	Self_Employed	ApplicantIncome	CoapplicantIncome	LoanAmount	Loan_Amount_Term	Credit_History	Property_Area
0	LP001015	Male	Yes	0	Graduate	No	5720	0	110.0	360.0	1.0	Urban
1	LP001022	Male	Yes	1	Graduate	No	3076	1500	126.0	360.0	1.0	Urban
2	LP001031	Male	Yes	2	Graduate	No	5000	1800	208.0	360.0	1.0	Urban
3	LP001035	Male	Yes	2	Graduate	No	2340	2546	100.0	360.0	NaN	Urban
4	LP001051	Male	No	0	Not Graduate	No	3276	0	78.0	360.0	1.0	Urban
5	LP001054	Male	Yes	0	Not Graduate	Yes	2165	3422	152.0	360.0	1.0	Urban
6	LP001055	Female	No	1	Not Graduate	No	2226	0	59.0	360.0	1.0	Semiurban
7	LP001056	Male	Yes	2	Not Graduate	No	3881	0	147.0	360.0	0.0	Rural
8	LP001059	Male	Yes	2	Graduate	NaN	13633	0	280.0	240.0	1.0	Urban
9	LP001067	Male	No	0	Not Graduate	No	2400	2400	123.0	360.0	1.0	Semiurban
To calculate the statistical calculations for all numerical

In [3]:
df.describe()
Out[3]:
ApplicantIncome	CoapplicantIncome	LoanAmount	Loan_Amount_Term	Credit_History
count	367.000000	367.000000	362.000000	361.000000	338.000000
mean	4805.599455	1569.577657	136.132597	342.537396	0.825444
std	4910.685399	2334.232099	61.366652	65.156643	0.380150
min	0.000000	0.000000	28.000000	6.000000	0.000000
25%	2864.000000	0.000000	100.250000	360.000000	1.000000
50%	3786.000000	1025.000000	125.000000	360.000000	1.000000
75%	5060.000000	2430.500000	158.000000	360.000000	1.000000
max	72529.000000	24000.000000	550.000000	480.000000	1.000000
Distribution analysis using EDA Analysis on Application income alone using histogram

In [4]:
df['ApplicantIncome'].hist(bins=50)
Out[4]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f8637f5c940>

Analysis on Application income alone using boxplot

In [6]:
df.boxplot(column='ApplicantIncome')
Out[6]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f863797abe0>

Analysis on Application income and Education using boxplot

In [7]:
df.boxplot(column='ApplicantIncome', by = 'Education')
Out[7]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f8637970160>

Analysis on Application income and gender using boxplot

In [8]:
df.boxplot(column='ApplicantIncome', by = 'Gender')
Out[8]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f863787fb70>

Analysis on Loan Amount alone using histogram

In [9]:
df['LoanAmount'].hist(bins=50)
Out[9]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f86378057b8>

Analysis on Gender alone using histogram

In [10]:
df['Gender'].hist(bins=50)
Out[10]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f8637745d68>

Analysis on Loan Amount alone using boxplot

In [11]:
df.boxplot(column='LoanAmount')
Out[11]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f8637761358>

Analysis on Loan Amount and gender using boxplot

In [12]:
df.boxplot(column='LoanAmount', by = 'Gender')
Out[12]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f8637612630>

Categorical variable analysisCategorical variable analysis

In [13]:
print ('Frequency Table for Credit History:')
temp1=df['Credit_History'].value_counts(ascending=True)
print(temp1)
print ('Frequency Table for Education:')
temp2=df['Education'].value_counts(ascending=True)
print(temp2)
Frequency Table for Credit History:
0.0     59
1.0    279
Name: Credit_History, dtype: int64
Frequency Table for Education:
Not Graduate     84
Graduate        283
Name: Education, dtype: int64
Applicants by Credit_History Analysis

In [14]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(8,4))
ax1 = fig.add_subplot(121)
ax1.set_xlabel('Credit_History')
ax1.set_ylabel('Count of Applicants')
ax1.set_title("Applicants by Credit_History")
temp1.plot(kind='bar')
#applicants by credit history
Out[14]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f863758a4e0>

Applicants by Credit_History Analysis and Applicants by Education Analysis both hand in hand

In [15]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(8,4))
#applicants by education
#applicants by credit history
ax1 = fig.add_subplot(121)
ax1.set_xlabel('Credit_History')
ax1.set_ylabel('Count of Applicants')
ax1.set_title("Applicants by Credit_History")
temp1.plot(kind='bar')
print('')
ax2 = fig.add_subplot(122)
ax2.set_xlabel('Education')
ax1.set_ylabel('Count of Applicants')
ax1.set_title("Applicants by Education")
temp2.plot(kind='bar')
Out[15]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f8637502898>

Check missing values in the dataset

In [16]:
df.apply(lambda x: sum(x.isnull()),axis=0)
Out[16]:
Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64
replacing missing loan amount with mean of the loanamount

In [18]:
df['LoanAmount'].fillna(df['LoanAmount'].mean(), inplace=True)
viewing the data set

In [19]:
df
Out[19]:
Loan_ID	Gender	Married	Dependents	Education	Self_Employed	ApplicantIncome	CoapplicantIncome	LoanAmount	Loan_Amount_Term	Credit_History	Property_Area
0	LP001015	Male	Yes	0	Graduate	No	5720	0	110.0	360.0	1.0	Urban
1	LP001022	Male	Yes	1	Graduate	No	3076	1500	126.0	360.0	1.0	Urban
2	LP001031	Male	Yes	2	Graduate	No	5000	1800	208.0	360.0	1.0	Urban
3	LP001035	Male	Yes	2	Graduate	No	2340	2546	100.0	360.0	NaN	Urban
4	LP001051	Male	No	0	Not Graduate	No	3276	0	78.0	360.0	1.0	Urban
...	...	...	...	...	...	...	...	...	...	...	...	...
362	LP002971	Male	Yes	3+	Not Graduate	Yes	4009	1777	113.0	360.0	1.0	Urban
363	LP002975	Male	Yes	0	Graduate	No	4158	709	115.0	360.0	1.0	Urban
364	LP002980	Male	No	0	Graduate	No	3250	1993	126.0	360.0	NaN	Semiurban
365	LP002986	Male	Yes	0	Graduate	No	5000	2393	158.0	360.0	1.0	Rural
366	LP002989	Male	No	0	Graduate	Yes	9200	0	98.0	180.0	1.0	Rural
367 rows × 12 columns

once again checking empty values

In [20]:
df.apply(lambda x: sum(x.isnull()),axis=0)
Out[20]:
Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64
checking Self_Employed

In [21]:
df['Self_Employed'].value_counts()
Out[21]:
No     307
Yes     37
Name: Self_Employed, dtype: int64
As No is dominating, replacing the empty values with No

In [22]:
df['Self_Employed'].fillna('No',inplace=True)
checking Self_Employed once again

In [23]:
df['Self_Employed'].value_counts()
Out[23]:
No     330
Yes     37
Name: Self_Employed, dtype: int64
checking Dependents

In [24]:
df['Dependents'].value_counts()
Out[24]:
0     200
2      59
1      58
3+     40
Name: Dependents, dtype: int64
As 0 is dominating , replace empty values with 0

In [25]:
df['Dependents'].fillna('0',inplace=True)
once again checking Dependents

In [26]:
df['Dependents'].value_counts()
Out[26]:
0     210
2      59
1      58
3+     40
Name: Dependents, dtype: int64
once again checking empty values

In [27]:
df.apply(lambda x: sum(x.isnull()),axis=0)
Out[27]:
Loan_ID               0
Gender               11
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64
checking Gender

In [28]:
df['Gender'].value_counts()
Out[28]:
Male      286
Female     70
Name: Gender, dtype: int64
male is dominated with 80% so replace empty values with Male

In [29]:
df['Gender'].fillna('Male',inplace=True)
once again checking Gender

In [30]:
df['Gender'].value_counts()
Out[30]:
Male      297
Female     70
Name: Gender, dtype: int64
once again checking empty values

In [31]:
df.apply(lambda x: sum(x.isnull()),axis=0)
Out[31]:
Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64
checking Loan_Amount_Term

In [32]:
df['Loan_Amount_Term'].value_counts()
Out[32]:
360.0    311
180.0     22
480.0      8
300.0      7
240.0      4
84.0       3
6.0        1
120.0      1
36.0       1
350.0      1
12.0       1
60.0       1
Name: Loan_Amount_Term, dtype: int64
As Loan_Amount_Term=360 is dominating,replace empty values with 360

In [34]:
df['Loan_Amount_Term'].fillna(360.0,inplace=True)
checking Loan_Amount_Term

In [ ]:
df['Loan_Amount_Term'].value_counts()
once again checking empty values

In [35]:
df.apply(lambda x: sum(x.isnull()),axis=0)
Out[35]:
Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
dtype: int64
checking Credit_History

In [36]:
df['Credit_History'].value_counts()
Out[36]:
1.0    279
0.0     59
Name: Credit_History, dtype: int64
yes (1.0) is dominating

In [ ]:
df['Credit_History'].fillna(1.0,inplace=True)
once again checking empty values

In [37]:
df.apply(lambda x: sum(x.isnull()),axis=0)
Out[37]:
Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
dtype: int64
Finally all missing values are clear Then go to the next phase of normalization how to treat for extreme values in distribution of LoanAmount and ApplicantIncome

In [38]:
df['LoanAmount'].hist(bins=10)
Out[38]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f86374a4860>

creating LoanAmount_log column to treate outliers and extreme values

In [39]:
df['LoanAmount_log'] = np.log(df['LoanAmount'])
df['LoanAmount_log'].hist(bins=20)
Out[39]:
<matplotlib.axes._subplots.AxesSubplot at 0x7f86373525c0>

The normalized data set with arti

In [40]:
df
Out[40]:
Loan_ID	Gender	Married	Dependents	Education	Self_Employed	ApplicantIncome	CoapplicantIncome	LoanAmount	Loan_Amount_Term	Credit_History	Property_Area	LoanAmount_log
0	LP001015	Male	Yes	0	Graduate	No	5720	0	110.0	360.0	1.0	Urban	4.700480
1	LP001022	Male	Yes	1	Graduate	No	3076	1500	126.0	360.0	1.0	Urban	4.836282
2	LP001031	Male	Yes	2	Graduate	No	5000	1800	208.0	360.0	1.0	Urban	5.337538
3	LP001035	Male	Yes	2	Graduate	No	2340	2546	100.0	360.0	NaN	Urban	4.605170
4	LP001051	Male	No	0	Not Graduate	No	3276	0	78.0	360.0	1.0	Urban	4.356709
...	...	...	...	...	...	...	...	...	...	...	...	...	...
362	LP002971	Male	Yes	3+	Not Graduate	Yes	4009	1777	113.0	360.0	1.0	Urban	4.727388
363	LP002975	Male	Yes	0	Graduate	No	4158	709	115.0	360.0	1.0	Urban	4.744932
364	LP002980	Male	No	0	Graduate	No	3250	1993	126.0	360.0	NaN	Semiurban	4.836282
365	LP002986	Male	Yes	0	Graduate	No	5000	2393	158.0	360.0	1.0	Rural	5.062595
366	LP002989	Male	No	0	Graduate	Yes	9200	0	98.0	180.0	1.0	Rural	4.584967
367 rows × 13 columns